Slices: A slice of a list is a new list consisting of a consecutive subsequence of elements
of the old list, namely those indexed by a range of integers. The range is specified by a
colon-separated pair i : j consisting of the index i as the first element and j as one past the
index of the last element. Thus mylist[1:3] is the list consisting of elements 1 and 2 of
mylist.
Prefixes: If the first element i of the pair is 0, it can be omitted, so mylist[:2] consists
of the first 2 elements of mylist. This notation is useful for obtaining a prefix of a list.
Suffixes: If the second element j of the pair is the length of the list, it can be omitted, so
mylist[1:] consists of all elements of mylist except element 0.

In [1]:
L = [0,10,20,30,40,50,60,70,80,90]

In [2]:
L[:5]

[0, 10, 20, 30, 40]

In [3]:
L[5:]

[50, 60, 70, 80, 90]

Slices that skip You can use a colon-separated triple a:b:c if you want the slice to include
every cth element. For example, here is how you can extract from L the list consisting of
even-indexed elements and the list consisting of odd-indexed elements:

In [4]:
L[::2]

[0, 20, 40, 60, 80]

Obtaining elements of a list by unpacking

In [5]:
[x,y,z] = [4*1, 4*2, 4*3]

In [6]:
listoflists = [[1,1],[2,4],[3, 9]]
[y for [x,y] in listoflists]

[1, 4, 9]

0.5.6 Tuples
Like a list, a tuple is an ordered sequence of elements. However, tuples are immutable so
they can be elements of sets. The notation for tuples is the same as that for lists except
that ordinary parentheses are used instead of square brackets.

In [7]:
(1,1+1,3)

(1, 2, 3)

In [8]:
{0, (1,2)} | {(3,4,5)}

{(1, 2), (3, 4, 5), 0}

In [9]:
[y for (x,y) in [(1,'A'),(2,'B'),(3,'C')] ]

['A', 'B', 'C']

Task 0.5.14: Suppose S is a set of integers, e.g. {−4,−2, 1, 2, 5, 0}. Write a triple
comprehension whose value is a list of all three-element tuples (i, j, k) such that i, j, k are
elements of S whose sum is zero.

In [11]:
S = {-4,-2, 1, 2, 5, 0}

In [12]:
a= (1,5-3)

In [13]:
sum(a)

3

In [19]:
[(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 ]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

Task 0.5.15: Modify the comprehension of the previous task so that the resulting list does
not include (0, 0, 0). Hint: add a filter.

In [21]:
[(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 and (i, j, k) != (0,0,0)]

[(0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

Task 0.5.16: Further modify the expression so that its value is not the list of all such
tuples but is the first such tuple.

In [22]:
{(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 and (i, j, k) != (0,0,0)}

{(-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0),
 (0, -2, 2),
 (0, 2, -2),
 (1, -2, 1),
 (1, 1, -2),
 (2, -4, 2),
 (2, -2, 0),
 (2, 0, -2),
 (2, 2, -4)}

Obtaining a list or set from another collection
Python can compute a set from another collection (e.g. a list) using the constructor set(·).
Similarly, the constructor list(·) computes a list, and the constructor tuple(·) computes
a tuple

In [1]:
set([0,1,2,3,4,5,6,7,8,9])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
set([1,2,3])

{1, 2, 3}

In [3]:
list({1,2,3})

[1, 2, 3]

In [4]:
set((1,2,3))

{1, 2, 3}

ranges

In [6]:
sum({i*i for i in range(10)})

285

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 0.5.18: Write a comprehension over a range of the form range(n) such that the
value of the comprehension is the set of odd numbers from 1 to 99.

In [8]:
{i for i in range(99) if i%2==1}

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97}

Zip
Another collection that can be iterated over is a zip. A zip is constructed from other
collections all of the same length. Each element of the zip is a tuple consisting of one
element from each of the input collections.

In [9]:
list(zip([1,3,5],[2,4,6]))

[(1, 2), (3, 4), (5, 6)]

In [10]:
characters = ['Neo', 'Morpheus', 'Trinity']
actors = ['Keanu', 'Laurence', 'Carrie-Anne']

In [11]:
set(zip(characters, actors))

{('Morpheus', 'Laurence'), ('Neo', 'Keanu'), ('Trinity', 'Carrie-Anne')}

In [12]:
[character+' is played by '+actor for (character,actor) in zip(characters,actors)]

['Neo is played by Keanu',
 'Morpheus is played by Laurence',
 'Trinity is played by Carrie-Anne']

Task 0.5.19: Assign to L the list consisting of the first five letters ['A','B','C','D','E'].
Next, use L in an expression whose value is
[(0, ’A’), (1, ’B’), (2, ’C’), (3, ’D’), (4, ’E’)]
Your expression should use a range and a zip, but should not use a comprehension.

In [16]:
L = ['A','B','C','D','E']
L = zip(range(5), L)
list(L)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

Task 0.5.20: Starting from the lists [10, 25, 40] and [1, 15, 20], write a comprehension
whose value is the three-element list in which the first element is the sum of 10
and 1, the second is the sum of 25 and 15, and the third is the sum of 40 and 20. Your
expression should use zip but not list.

In [27]:
[x+y for (x,y) in zip([10, 25, 40], [1, 15, 20])]

[11, 40, 60]

In [28]:
[x*x for x in reversed([4, 5, 10])]

[100, 25, 16]

Dictionaries

In [29]:
{0:'zero', 0:'nothing'}

{0: 'nothing'}

In [30]:
{4:"four", 3:'three'}[4]

'four'

In [31]:
mydict = {'Neo':'Keanu', 'Morpheus':'Laurence',
'Trinity':'Carrie-Anne'}

In [32]:
mydict['Neo']

'Keanu'

In [33]:
mydict['Oracle']

KeyError: 'Oracle'

In [34]:
'Oracle' in mydict

False

In [35]:
mydict['Oracle'] if 'Oracle' in mydict else 'NOT PRESENT'

'NOT PRESENT'

Task 0.5.21: Suppose dlist is a list of dictionaries and k is a key that appears in all the
dictionaries in dlist. Write a comprehension that evaluates to the list whose ith element
is the value corresponding to key k in the ith dictionary in dlist.
Test your comprehension with some data. Here are some example data.
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger',
'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'

In [1]:
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger',
'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'

In [5]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Sean', 'Roger', 'Pierce']

In [4]:
[mydict for mydict in dlist]

[{'James': 'Sean', 'director': 'Terence'},
 {'James': 'Roger', 'director': 'Lewis'},
 {'James': 'Pierce', 'director': 'Roger'}]

In [6]:
dlist = [{'Bilbo':'Ian','Frodo':'Elijah'},
{'Bilbo':'Martin','Thorin':'Richard'}]

In [8]:
k = 'Bilbo'

In [9]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Ian', 'Martin']

In [10]:
k = 'Frodo'

In [11]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Elijah', 'NOT PRESENT']

You can construct a dictionary using a comprehension.

In [12]:
{ k:v for (k,v) in [(3,2),(4,0),(100,1)] }

{3: 2, 4: 0, 100: 1}

In [13]:
{ (x,y):x*y for x in [1,2,3] for y in [1,2,3] }

{(1, 1): 1,
 (1, 2): 2,
 (1, 3): 3,
 (2, 1): 2,
 (2, 2): 4,
 (2, 3): 6,
 (3, 1): 3,
 (3, 2): 6,
 (3, 3): 9}

Task 0.5.23: Using range, write a comprehension whose value is a dictionary. The keys
should be the integers from 0 to 99 and the value corresponding to a key should be the
square of the key.
The identity function on a set D is the function with the following spec:
• input: an element x of D
• output: x

In [3]:
mydict = { x:x*x for x in range(0, 100) }

In [5]:
mydict[99]

9801

In [6]:
mydict[5]

25

Task 0.5.24: Assign some set to the variable D, e.g. D ={'red','white','blue'}.
Now write a comprehension that evaluates to a dictionary that represents the identity function
on D.

In [7]:
 D ={'red','white','blue'}


Task 0.5.25: Using the variables base=10 and digits=set(range(base)), write a dictionary
comprehension that maps each integer between zero and nine hundred ninety nine
to the list of three digits that represents that integer in base 10. That is, the value should be
{0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 0, 2], 3: [0, 0, 3], ...,
10: [0, 1, 0], 11: [0, 1, 1], 12: [0, 1, 2], ...,
999: [9, 9, 9]}
Your expression should work for any base. For example, if you instead assign 2 to base and
assign {0,1} to digits, the value should be
{0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 1, 0], 3: [0, 1, 1],
..., 7: [1, 1, 1]}

In [33]:
base=10
digits=set(range(base))
def func(x, base):
    a= x % base
    b= x//base % base
    c= x//(base*base) % base
    return [c, b, a]
    
res = { x:func(x, 10) for x in range(0, 1000)}

Comprehensions that iterate over dictionaries

In [34]:
[2*x for x in {4:'a',3:'b'}.keys() ]

[8, 6]

In [35]:
[x for x in {4:'a', 3:'b'}.values()]

['a', 'b']

Given two dictionaries A and B, you can write comprehensions that iterate over the union
or intersection of the keys, using the union operator | and intersection operator & we learned
about in Section 0.5.4

In [36]:
[k for k in {'a':1, 'b':2}.keys() | {'b':3, 'c':4}.keys()]

['b', 'a', 'c']

In [37]:
[k for k in {'a':1, 'b':2}.keys() & {'b':3, 'c':4}.keys()]

['b']

In [38]:
[myitem for myitem in mydict.items()]

[(0, [0]),
 (1, [1]),
 (2, [2]),
 (3, [3]),
 (4, [4]),
 (5, [5]),
 (6, [6]),
 (7, [7]),
 (8, [8]),
 (9, [9]),
 (10, [0]),
 (11, [1]),
 (12, [2]),
 (13, [3]),
 (14, [4]),
 (15, [5]),
 (16, [6]),
 (17, [7]),
 (18, [8]),
 (19, [9]),
 (20, [0]),
 (21, [1]),
 (22, [2]),
 (23, [3]),
 (24, [4]),
 (25, [5]),
 (26, [6]),
 (27, [7]),
 (28, [8]),
 (29, [9]),
 (30, [0]),
 (31, [1]),
 (32, [2]),
 (33, [3]),
 (34, [4]),
 (35, [5]),
 (36, [6]),
 (37, [7]),
 (38, [8]),
 (39, [9]),
 (40, [0]),
 (41, [1]),
 (42, [2]),
 (43, [3]),
 (44, [4]),
 (45, [5]),
 (46, [6]),
 (47, [7]),
 (48, [8]),
 (49, [9]),
 (50, [0]),
 (51, [1]),
 (52, [2]),
 (53, [3]),
 (54, [4]),
 (55, [5]),
 (56, [6]),
 (57, [7]),
 (58, [8]),
 (59, [9]),
 (60, [0]),
 (61, [1]),
 (62, [2]),
 (63, [3]),
 (64, [4]),
 (65, [5]),
 (66, [6]),
 (67, [7]),
 (68, [8]),
 (69, [9]),
 (70, [0]),
 (71, [1]),
 (72, [2]),
 (73, [3]),
 (74, [4]),
 (75, [5]),
 (76, [6]),
 (77, [7]),
 (78, [8]),
 (79, [9]),
 (80, [0]),
 (81, [1]),
 (82, [2]),
 (83, [3]),
 (84, [4]),
 (85, [5]),
 (86, [6]),
 (87, [7]),
 (88, [8]),
 (89, [9]),
 (90, [0]),
 (91, [1]),
 (92, [2]),
 (93, [3]),
 (94, [4]),
 (95, [5]),
 (96, [6]),
 (97, [7]),
 (98, [8]),
 (99, [9]),
 (100, [0]),
 (101, [1]),
 (102, [2]),
 (103, [3]),
 (104, [4]),
 (105, [5]),
 (106, [6]),
 (107, [7]),
 (108, [8]),
 (109, [9]),
 (110, [0]),
 (111, [1]),
 (112, [2]),
 (113, [3]),
 (114, [4]),
 (115, [5]),
 (116, [6]),
 (117, [7]),
 (118, [8]),
 (119, [9]),
 (120, [0]),
 (121, [1]),
 (122, [2]),
 (123, [3]),
 (124, [4]),
 (125, [5]),
 (126, [6]),
 (127, [7]),
 (128, [8]),
 (129, [9]),
 (130, [0]),
 (131, [1]),
 (132, [2]),
 (133, [3]),
 (134, [4]),
 (135, [5]),
 (136, [6]),
 (137, [7]),
 (138, [8]),
 (139, [9]),
 (140, [0]),
 (141, [1]),
 (142, [2]),
 (143, [3]),
 (144, [4]),
 (145, [5]),
 (146, [6]),
 (147, [7]),
 (148, [8]),
 (149, [9]),
 (150, [0]),
 (151, [1]),
 (152, [2]),
 (153, [3]),
 (154, [4]),
 (155, [5]),
 (156, [6]),
 (157, [7]),
 (158, [8]),
 (159, [9]),
 (160, [0]),
 (161, [1]),
 (162, [2]),
 (163, [3]),
 (164, [4]),
 (165, [5]),
 (166, [6]),
 (167, [7]),
 (168, [8]),
 (169, [9]),
 (170, [0]),
 (171, [1]),
 (172, [2]),
 (173, [3]),
 (174, [4]),
 (175, [5]),
 (176, [6]),
 (177, [7]),
 (178, [8]),
 (179, [9]),
 (180, [0]),
 (181, [1]),
 (182, [2]),
 (183, [3]),
 (184, [4]),
 (185, [5]),
 (186, [6]),
 (187, [7]),
 (188, [8]),
 (189, [9]),
 (190, [0]),
 (191, [1]),
 (192, [2]),
 (193, [3]),
 (194, [4]),
 (195, [5]),
 (196, [6]),
 (197, [7]),
 (198, [8]),
 (199, [9]),
 (200, [0]),
 (201, [1]),
 (202, [2]),
 (203, [3]),
 (204, [4]),
 (205, [5]),
 (206, [6]),
 (207, [7]),
 (208, [8]),
 (209, [9]),
 (210, [0]),
 (211, [1]),
 (212, [2]),
 (213, [3]),
 (214, [4]),
 (215, [5]),
 (216, [6]),
 (217, [7]),
 (218, [8]),
 (219, [9]),
 (220, [0]),
 (221, [1]),
 (222, [2]),
 (223, [3]),
 (224, [4]),
 (225, [5]),
 (226, [6]),
 (227, [7]),
 (228, [8]),
 (229, [9]),
 (230, [0]),
 (231, [1]),
 (232, [2]),
 (233, [3]),
 (234, [4]),
 (235, [5]),
 (236, [6]),
 (237, [7]),
 (238, [8]),
 (239, [9]),
 (240, [0]),
 (241, [1]),
 (242, [2]),
 (243, [3]),
 (244, [4]),
 (245, [5]),
 (246, [6]),
 (247, [7]),
 (248, [8]),
 (249, [9]),
 (250, [0]),
 (251, [1]),
 (252, [2]),
 (253, [3]),
 (254, [4]),
 (255, [5]),
 (256, [6]),
 (257, [7]),
 (258, [8]),
 (259, [9]),
 (260, [0]),
 (261, [1]),
 (262, [2]),
 (263, [3]),
 (264, [4]),
 (265, [5]),
 (266, [6]),
 (267, [7]),
 (268, [8]),
 (269, [9]),
 (270, [0]),
 (271, [1]),
 (272, [2]),
 (273, [3]),
 (274, [4]),
 (275, [5]),
 (276, [6]),
 (277, [7]),
 (278, [8]),
 (279, [9]),
 (280, [0]),
 (281, [1]),
 (282, [2]),
 (283, [3]),
 (284, [4]),
 (285, [5]),
 (286, [6]),
 (287, [7]),
 (288, [8]),
 (289, [9]),
 (290, [0]),
 (291, [1]),
 (292, [2]),
 (293, [3]),
 (294, [4]),
 (295, [5]),
 (296, [6]),
 (297, [7]),
 (298, [8]),
 (299, [9]),
 (300, [0]),
 (301, [1]),
 (302, [2]),
 (303, [3]),
 (304, [4]),
 (305, [5]),
 (306, [6]),
 (307, [7]),
 (308, [8]),
 (309, [9]),
 (310, [0]),
 (311, [1]),
 (312, [2]),
 (313, [3]),
 (314, [4]),
 (315, [5]),
 (316, [6]),
 (317, [7]),
 (318, [8]),
 (319, [9]),
 (320, [0]),
 (321, [1]),
 (322, [2]),
 (323, [3]),
 (324, [4]),
 (325, [5]),
 (326, [6]),
 (327, [7]),
 (328, [8]),
 (329, [9]),
 (330, [0]),
 (331, [1]),
 (332, [2]),
 (333, [3]),
 (334, [4]),
 (335, [5]),
 (336, [6]),
 (337, [7]),
 (338, [8]),
 (339, [9]),
 (340, [0]),
 (341, [1]),
 (342, [2]),
 (343, [3]),
 (344, [4]),
 (345, [5]),
 (346, [6]),
 (347, [7]),
 (348, [8]),
 (349, [9]),
 (350, [0]),
 (351, [1]),
 (352, [2]),
 (353, [3]),
 (354, [4]),
 (355, [5]),
 (356, [6]),
 (357, [7]),
 (358, [8]),
 (359, [9]),
 (360, [0]),
 (361, [1]),
 (362, [2]),
 (363, [3]),
 (364, [4]),
 (365, [5]),
 (366, [6]),
 (367, [7]),
 (368, [8]),
 (369, [9]),
 (370, [0]),
 (371, [1]),
 (372, [2]),
 (373, [3]),
 (374, [4]),
 (375, [5]),
 (376, [6]),
 (377, [7]),
 (378, [8]),
 (379, [9]),
 (380, [0]),
 (381, [1]),
 (382, [2]),
 (383, [3]),
 (384, [4]),
 (385, [5]),
 (386, [6]),
 (387, [7]),
 (388, [8]),
 (389, [9]),
 (390, [0]),
 (391, [1]),
 (392, [2]),
 (393, [3]),
 (394, [4]),
 (395, [5]),
 (396, [6]),
 (397, [7]),
 (398, [8]),
 (399, [9]),
 (400, [0]),
 (401, [1]),
 (402, [2]),
 (403, [3]),
 (404, [4]),
 (405, [5]),
 (406, [6]),
 (407, [7]),
 (408, [8]),
 (409, [9]),
 (410, [0]),
 (411, [1]),
 (412, [2]),
 (413, [3]),
 (414, [4]),
 (415, [5]),
 (416, [6]),
 (417, [7]),
 (418, [8]),
 (419, [9]),
 (420, [0]),
 (421, [1]),
 (422, [2]),
 (423, [3]),
 (424, [4]),
 (425, [5]),
 (426, [6]),
 (427, [7]),
 (428, [8]),
 (429, [9]),
 (430, [0]),
 (431, [1]),
 (432, [2]),
 (433, [3]),
 (434, [4]),
 (435, [5]),
 (436, [6]),
 (437, [7]),
 (438, [8]),
 (439, [9]),
 (440, [0]),
 (441, [1]),
 (442, [2]),
 (443, [3]),
 (444, [4]),
 (445, [5]),
 (446, [6]),
 (447, [7]),
 (448, [8]),
 (449, [9]),
 (450, [0]),
 (451, [1]),
 (452, [2]),
 (453, [3]),
 (454, [4]),
 (455, [5]),
 (456, [6]),
 (457, [7]),
 (458, [8]),
 (459, [9]),
 (460, [0]),
 (461, [1]),
 (462, [2]),
 (463, [3]),
 (464, [4]),
 (465, [5]),
 (466, [6]),
 (467, [7]),
 (468, [8]),
 (469, [9]),
 (470, [0]),
 (471, [1]),
 (472, [2]),
 (473, [3]),
 (474, [4]),
 (475, [5]),
 (476, [6]),
 (477, [7]),
 (478, [8]),
 (479, [9]),
 (480, [0]),
 (481, [1]),
 (482, [2]),
 (483, [3]),
 (484, [4]),
 (485, [5]),
 (486, [6]),
 (487, [7]),
 (488, [8]),
 (489, [9]),
 (490, [0]),
 (491, [1]),
 (492, [2]),
 (493, [3]),
 (494, [4]),
 (495, [5]),
 (496, [6]),
 (497, [7]),
 (498, [8]),
 (499, [9]),
 (500, [0]),
 (501, [1]),
 (502, [2]),
 (503, [3]),
 (504, [4]),
 (505, [5]),
 (506, [6]),
 (507, [7]),
 (508, [8]),
 (509, [9]),
 (510, [0]),
 (511, [1]),
 (512, [2]),
 (513, [3]),
 (514, [4]),
 (515, [5]),
 (516, [6]),
 (517, [7]),
 (518, [8]),
 (519, [9]),
 (520, [0]),
 (521, [1]),
 (522, [2]),
 (523, [3]),
 (524, [4]),
 (525, [5]),
 (526, [6]),
 (527, [7]),
 (528, [8]),
 (529, [9]),
 (530, [0]),
 (531, [1]),
 (532, [2]),
 (533, [3]),
 (534, [4]),
 (535, [5]),
 (536, [6]),
 (537, [7]),
 (538, [8]),
 (539, [9]),
 (540, [0]),
 (541, [1]),
 (542, [2]),
 (543, [3]),
 (544, [4]),
 (545, [5]),
 (546, [6]),
 (547, [7]),
 (548, [8]),
 (549, [9]),
 (550, [0]),
 (551, [1]),
 (552, [2]),
 (553, [3]),
 (554, [4]),
 (555, [5]),
 (556, [6]),
 (557, [7]),
 (558, [8]),
 (559, [9]),
 (560, [0]),
 (561, [1]),
 (562, [2]),
 (563, [3]),
 (564, [4]),
 (565, [5]),
 (566, [6]),
 (567, [7]),
 (568, [8]),
 (569, [9]),
 (570, [0]),
 (571, [1]),
 (572, [2]),
 (573, [3]),
 (574, [4]),
 (575, [5]),
 (576, [6]),
 (577, [7]),
 (578, [8]),
 (579, [9]),
 (580, [0]),
 (581, [1]),
 (582, [2]),
 (583, [3]),
 (584, [4]),
 (585, [5]),
 (586, [6]),
 (587, [7]),
 (588, [8]),
 (589, [9]),
 (590, [0]),
 (591, [1]),
 (592, [2]),
 (593, [3]),
 (594, [4]),
 (595, [5]),
 (596, [6]),
 (597, [7]),
 (598, [8]),
 (599, [9]),
 (600, [0]),
 (601, [1]),
 (602, [2]),
 (603, [3]),
 (604, [4]),
 (605, [5]),
 (606, [6]),
 (607, [7]),
 (608, [8]),
 (609, [9]),
 (610, [0]),
 (611, [1]),
 (612, [2]),
 (613, [3]),
 (614, [4]),
 (615, [5]),
 (616, [6]),
 (617, [7]),
 (618, [8]),
 (619, [9]),
 (620, [0]),
 (621, [1]),
 (622, [2]),
 (623, [3]),
 (624, [4]),
 (625, [5]),
 (626, [6]),
 (627, [7]),
 (628, [8]),
 (629, [9]),
 (630, [0]),
 (631, [1]),
 (632, [2]),
 (633, [3]),
 (634, [4]),
 (635, [5]),
 (636, [6]),
 (637, [7]),
 (638, [8]),
 (639, [9]),
 (640, [0]),
 (641, [1]),
 (642, [2]),
 (643, [3]),
 (644, [4]),
 (645, [5]),
 (646, [6]),
 (647, [7]),
 (648, [8]),
 (649, [9]),
 (650, [0]),
 (651, [1]),
 (652, [2]),
 (653, [3]),
 (654, [4]),
 (655, [5]),
 (656, [6]),
 (657, [7]),
 (658, [8]),
 (659, [9]),
 (660, [0]),
 (661, [1]),
 (662, [2]),
 (663, [3]),
 (664, [4]),
 (665, [5]),
 (666, [6]),
 (667, [7]),
 (668, [8]),
 (669, [9]),
 (670, [0]),
 (671, [1]),
 (672, [2]),
 (673, [3]),
 (674, [4]),
 (675, [5]),
 (676, [6]),
 (677, [7]),
 (678, [8]),
 (679, [9]),
 (680, [0]),
 (681, [1]),
 (682, [2]),
 (683, [3]),
 (684, [4]),
 (685, [5]),
 (686, [6]),
 (687, [7]),
 (688, [8]),
 (689, [9]),
 (690, [0]),
 (691, [1]),
 (692, [2]),
 (693, [3]),
 (694, [4]),
 (695, [5]),
 (696, [6]),
 (697, [7]),
 (698, [8]),
 (699, [9]),
 (700, [0]),
 (701, [1]),
 (702, [2]),
 (703, [3]),
 (704, [4]),
 (705, [5]),
 (706, [6]),
 (707, [7]),
 (708, [8]),
 (709, [9]),
 (710, [0]),
 (711, [1]),
 (712, [2]),
 (713, [3]),
 (714, [4]),
 (715, [5]),
 (716, [6]),
 (717, [7]),
 (718, [8]),
 (719, [9]),
 (720, [0]),
 (721, [1]),
 (722, [2]),
 (723, [3]),
 (724, [4]),
 (725, [5]),
 (726, [6]),
 (727, [7]),
 (728, [8]),
 (729, [9]),
 (730, [0]),
 (731, [1]),
 (732, [2]),
 (733, [3]),
 (734, [4]),
 (735, [5]),
 (736, [6]),
 (737, [7]),
 (738, [8]),
 (739, [9]),
 (740, [0]),
 (741, [1]),
 (742, [2]),
 (743, [3]),
 (744, [4]),
 (745, [5]),
 (746, [6]),
 (747, [7]),
 (748, [8]),
 (749, [9]),
 (750, [0]),
 (751, [1]),
 (752, [2]),
 (753, [3]),
 (754, [4]),
 (755, [5]),
 (756, [6]),
 (757, [7]),
 (758, [8]),
 (759, [9]),
 (760, [0]),
 (761, [1]),
 (762, [2]),
 (763, [3]),
 (764, [4]),
 (765, [5]),
 (766, [6]),
 (767, [7]),
 (768, [8]),
 (769, [9]),
 (770, [0]),
 (771, [1]),
 (772, [2]),
 (773, [3]),
 (774, [4]),
 (775, [5]),
 (776, [6]),
 (777, [7]),
 (778, [8]),
 (779, [9]),
 (780, [0]),
 (781, [1]),
 (782, [2]),
 (783, [3]),
 (784, [4]),
 (785, [5]),
 (786, [6]),
 (787, [7]),
 (788, [8]),
 (789, [9]),
 (790, [0]),
 (791, [1]),
 (792, [2]),
 (793, [3]),
 (794, [4]),
 (795, [5]),
 (796, [6]),
 (797, [7]),
 (798, [8]),
 (799, [9]),
 (800, [0]),
 (801, [1]),
 (802, [2]),
 (803, [3]),
 (804, [4]),
 (805, [5]),
 (806, [6]),
 (807, [7]),
 (808, [8]),
 (809, [9]),
 (810, [0]),
 (811, [1]),
 (812, [2]),
 (813, [3]),
 (814, [4]),
 (815, [5]),
 (816, [6]),
 (817, [7]),
 (818, [8]),
 (819, [9]),
 (820, [0]),
 (821, [1]),
 (822, [2]),
 (823, [3]),
 (824, [4]),
 (825, [5]),
 (826, [6]),
 (827, [7]),
 (828, [8]),
 (829, [9]),
 (830, [0]),
 (831, [1]),
 (832, [2]),
 (833, [3]),
 (834, [4]),
 (835, [5]),
 (836, [6]),
 (837, [7]),
 (838, [8]),
 (839, [9]),
 (840, [0]),
 (841, [1]),
 (842, [2]),
 (843, [3]),
 (844, [4]),
 (845, [5]),
 (846, [6]),
 (847, [7]),
 (848, [8]),
 (849, [9]),
 (850, [0]),
 (851, [1]),
 (852, [2]),
 (853, [3]),
 (854, [4]),
 (855, [5]),
 (856, [6]),
 (857, [7]),
 (858, [8]),
 (859, [9]),
 (860, [0]),
 (861, [1]),
 (862, [2]),
 (863, [3]),
 (864, [4]),
 (865, [5]),
 (866, [6]),
 (867, [7]),
 (868, [8]),
 (869, [9]),
 (870, [0]),
 (871, [1]),
 (872, [2]),
 (873, [3]),
 (874, [4]),
 (875, [5]),
 (876, [6]),
 (877, [7]),
 (878, [8]),
 (879, [9]),
 (880, [0]),
 (881, [1]),
 (882, [2]),
 (883, [3]),
 (884, [4]),
 (885, [5]),
 (886, [6]),
 (887, [7]),
 (888, [8]),
 (889, [9]),
 (890, [0]),
 (891, [1]),
 (892, [2]),
 (893, [3]),
 (894, [4]),
 (895, [5]),
 (896, [6]),
 (897, [7]),
 (898, [8]),
 (899, [9]),
 (900, [0]),
 (901, [1]),
 (902, [2]),
 (903, [3]),
 (904, [4]),
 (905, [5]),
 (906, [6]),
 (907, [7]),
 (908, [8]),
 (909, [9]),
 (910, [0]),
 (911, [1]),
 (912, [2]),
 (913, [3]),
 (914, [4]),
 (915, [5]),
 (916, [6]),
 (917, [7]),
 (918, [8]),
 (919, [9]),
 (920, [0]),
 (921, [1]),
 (922, [2]),
 (923, [3]),
 (924, [4]),
 (925, [5]),
 (926, [6]),
 (927, [7]),
 (928, [8]),
 (929, [9]),
 (930, [0]),
 (931, [1]),
 (932, [2]),
 (933, [3]),
 (934, [4]),
 (935, [5]),
 (936, [6]),
 (937, [7]),
 (938, [8]),
 (939, [9]),
 (940, [0]),
 (941, [1]),
 (942, [2]),
 (943, [3]),
 (944, [4]),
 (945, [5]),
 (946, [6]),
 (947, [7]),
 (948, [8]),
 (949, [9]),
 (950, [0]),
 (951, [1]),
 (952, [2]),
 (953, [3]),
 (954, [4]),
 (955, [5]),
 (956, [6]),
 (957, [7]),
 (958, [8]),
 (959, [9]),
 (960, [0]),
 (961, [1]),
 (962, [2]),
 (963, [3]),
 (964, [4]),
 (965, [5]),
 (966, [6]),
 (967, [7]),
 (968, [8]),
 (969, [9]),
 (970, [0]),
 (971, [1]),
 (972, [2]),
 (973, [3]),
 (974, [4]),
 (975, [5]),
 (976, [6]),
 (977, [7]),
 (978, [8]),
 (979, [9]),
 (980, [0]),
 (981, [1]),
 (982, [2]),
 (983, [3]),
 (984, [4]),
 (985, [5]),
 (986, [6]),
 (987, [7]),
 (988, [8]),
 (989, [9]),
 (990, [0]),
 (991, [1]),
 (992, [2]),
 (993, [3]),
 (994, [4]),
 (995, [5]),
 (996, [6]),
 (997, [7]),
 (998, [8])]

In [40]:
[str(k) + " is played by " + str(v) for (k,v) in mydict.items()]

['0 is played by [0]',
 '1 is played by [1]',
 '2 is played by [2]',
 '3 is played by [3]',
 '4 is played by [4]',
 '5 is played by [5]',
 '6 is played by [6]',
 '7 is played by [7]',
 '8 is played by [8]',
 '9 is played by [9]',
 '10 is played by [0]',
 '11 is played by [1]',
 '12 is played by [2]',
 '13 is played by [3]',
 '14 is played by [4]',
 '15 is played by [5]',
 '16 is played by [6]',
 '17 is played by [7]',
 '18 is played by [8]',
 '19 is played by [9]',
 '20 is played by [0]',
 '21 is played by [1]',
 '22 is played by [2]',
 '23 is played by [3]',
 '24 is played by [4]',
 '25 is played by [5]',
 '26 is played by [6]',
 '27 is played by [7]',
 '28 is played by [8]',
 '29 is played by [9]',
 '30 is played by [0]',
 '31 is played by [1]',
 '32 is played by [2]',
 '33 is played by [3]',
 '34 is played by [4]',
 '35 is played by [5]',
 '36 is played by [6]',
 '37 is played by [7]',
 '38 is played by [8]',
 '39 is played by [9]',
 '40 is played by [0]',
 '41 is played by [1]',
 '42 is played by [2]',
 '43 is played by [3]',
 '44 is played by [4]',
 '45 is played by [5]',
 '46 is played by [6]',
 '47 is played by [7]',
 '48 is played by [8]',
 '49 is played by [9]',
 '50 is played by [0]',
 '51 is played by [1]',
 '52 is played by [2]',
 '53 is played by [3]',
 '54 is played by [4]',
 '55 is played by [5]',
 '56 is played by [6]',
 '57 is played by [7]',
 '58 is played by [8]',
 '59 is played by [9]',
 '60 is played by [0]',
 '61 is played by [1]',
 '62 is played by [2]',
 '63 is played by [3]',
 '64 is played by [4]',
 '65 is played by [5]',
 '66 is played by [6]',
 '67 is played by [7]',
 '68 is played by [8]',
 '69 is played by [9]',
 '70 is played by [0]',
 '71 is played by [1]',
 '72 is played by [2]',
 '73 is played by [3]',
 '74 is played by [4]',
 '75 is played by [5]',
 '76 is played by [6]',
 '77 is played by [7]',
 '78 is played by [8]',
 '79 is played by [9]',
 '80 is played by [0]',
 '81 is played by [1]',
 '82 is played by [2]',
 '83 is played by [3]',
 '84 is played by [4]',
 '85 is played by [5]',
 '86 is played by [6]',
 '87 is played by [7]',
 '88 is played by [8]',
 '89 is played by [9]',
 '90 is played by [0]',
 '91 is played by [1]',
 '92 is played by [2]',
 '93 is played by [3]',
 '94 is played by [4]',
 '95 is played by [5]',
 '96 is played by [6]',
 '97 is played by [7]',
 '98 is played by [8]',
 '99 is played by [9]',
 '100 is played by [0]',
 '101 is played by [1]',
 '102 is played by [2]',
 '103 is played by [3]',
 '104 is played by [4]',
 '105 is played by [5]',
 '106 is played by [6]',
 '107 is played by [7]',
 '108 is played by [8]',
 '109 is played by [9]',
 '110 is played by [0]',
 '111 is played by [1]',
 '112 is played by [2]',
 '113 is played by [3]',
 '114 is played by [4]',
 '115 is played by [5]',
 '116 is played by [6]',
 '117 is played by [7]',
 '118 is played by [8]',
 '119 is played by [9]',
 '120 is played by [0]',
 '121 is played by [1]',
 '122 is played by [2]',
 '123 is played by [3]',
 '124 is played by [4]',
 '125 is played by [5]',
 '126 is played by [6]',
 '127 is played by [7]',
 '128 is played by [8]',
 '129 is played by [9]',
 '130 is played by [0]',
 '131 is played by [1]',
 '132 is played by [2]',
 '133 is played by [3]',
 '134 is played by [4]',
 '135 is played by [5]',
 '136 is played by [6]',
 '137 is played by [7]',
 '138 is played by [8]',
 '139 is played by [9]',
 '140 is played by [0]',
 '141 is played by [1]',
 '142 is played by [2]',
 '143 is played by [3]',
 '144 is played by [4]',
 '145 is played by [5]',
 '146 is played by [6]',
 '147 is played by [7]',
 '148 is played by [8]',
 '149 is played by [9]',
 '150 is played by [0]',
 '151 is played by [1]',
 '152 is played by [2]',
 '153 is played by [3]',
 '154 is played by [4]',
 '155 is played by [5]',
 '156 is played by [6]',
 '157 is played by [7]',
 '158 is played by [8]',
 '159 is played by [9]',
 '160 is played by [0]',
 '161 is played by [1]',
 '162 is played by [2]',
 '163 is played by [3]',
 '164 is played by [4]',
 '165 is played by [5]',
 '166 is played by [6]',
 '167 is played by [7]',
 '168 is played by [8]',
 '169 is played by [9]',
 '170 is played by [0]',
 '171 is played by [1]',
 '172 is played by [2]',
 '173 is played by [3]',
 '174 is played by [4]',
 '175 is played by [5]',
 '176 is played by [6]',
 '177 is played by [7]',
 '178 is played by [8]',
 '179 is played by [9]',
 '180 is played by [0]',
 '181 is played by [1]',
 '182 is played by [2]',
 '183 is played by [3]',
 '184 is played by [4]',
 '185 is played by [5]',
 '186 is played by [6]',
 '187 is played by [7]',
 '188 is played by [8]',
 '189 is played by [9]',
 '190 is played by [0]',
 '191 is played by [1]',
 '192 is played by [2]',
 '193 is played by [3]',
 '194 is played by [4]',
 '195 is played by [5]',
 '196 is played by [6]',
 '197 is played by [7]',
 '198 is played by [8]',
 '199 is played by [9]',
 '200 is played by [0]',
 '201 is played by [1]',
 '202 is played by [2]',
 '203 is played by [3]',
 '204 is played by [4]',
 '205 is played by [5]',
 '206 is played by [6]',
 '207 is played by [7]',
 '208 is played by [8]',
 '209 is played by [9]',
 '210 is played by [0]',
 '211 is played by [1]',
 '212 is played by [2]',
 '213 is played by [3]',
 '214 is played by [4]',
 '215 is played by [5]',
 '216 is played by [6]',
 '217 is played by [7]',
 '218 is played by [8]',
 '219 is played by [9]',
 '220 is played by [0]',
 '221 is played by [1]',
 '222 is played by [2]',
 '223 is played by [3]',
 '224 is played by [4]',
 '225 is played by [5]',
 '226 is played by [6]',
 '227 is played by [7]',
 '228 is played by [8]',
 '229 is played by [9]',
 '230 is played by [0]',
 '231 is played by [1]',
 '232 is played by [2]',
 '233 is played by [3]',
 '234 is played by [4]',
 '235 is played by [5]',
 '236 is played by [6]',
 '237 is played by [7]',
 '238 is played by [8]',
 '239 is played by [9]',
 '240 is played by [0]',
 '241 is played by [1]',
 '242 is played by [2]',
 '243 is played by [3]',
 '244 is played by [4]',
 '245 is played by [5]',
 '246 is played by [6]',
 '247 is played by [7]',
 '248 is played by [8]',
 '249 is played by [9]',
 '250 is played by [0]',
 '251 is played by [1]',
 '252 is played by [2]',
 '253 is played by [3]',
 '254 is played by [4]',
 '255 is played by [5]',
 '256 is played by [6]',
 '257 is played by [7]',
 '258 is played by [8]',
 '259 is played by [9]',
 '260 is played by [0]',
 '261 is played by [1]',
 '262 is played by [2]',
 '263 is played by [3]',
 '264 is played by [4]',
 '265 is played by [5]',
 '266 is played by [6]',
 '267 is played by [7]',
 '268 is played by [8]',
 '269 is played by [9]',
 '270 is played by [0]',
 '271 is played by [1]',
 '272 is played by [2]',
 '273 is played by [3]',
 '274 is played by [4]',
 '275 is played by [5]',
 '276 is played by [6]',
 '277 is played by [7]',
 '278 is played by [8]',
 '279 is played by [9]',
 '280 is played by [0]',
 '281 is played by [1]',
 '282 is played by [2]',
 '283 is played by [3]',
 '284 is played by [4]',
 '285 is played by [5]',
 '286 is played by [6]',
 '287 is played by [7]',
 '288 is played by [8]',
 '289 is played by [9]',
 '290 is played by [0]',
 '291 is played by [1]',
 '292 is played by [2]',
 '293 is played by [3]',
 '294 is played by [4]',
 '295 is played by [5]',
 '296 is played by [6]',
 '297 is played by [7]',
 '298 is played by [8]',
 '299 is played by [9]',
 '300 is played by [0]',
 '301 is played by [1]',
 '302 is played by [2]',
 '303 is played by [3]',
 '304 is played by [4]',
 '305 is played by [5]',
 '306 is played by [6]',
 '307 is played by [7]',
 '308 is played by [8]',
 '309 is played by [9]',
 '310 is played by [0]',
 '311 is played by [1]',
 '312 is played by [2]',
 '313 is played by [3]',
 '314 is played by [4]',
 '315 is played by [5]',
 '316 is played by [6]',
 '317 is played by [7]',
 '318 is played by [8]',
 '319 is played by [9]',
 '320 is played by [0]',
 '321 is played by [1]',
 '322 is played by [2]',
 '323 is played by [3]',
 '324 is played by [4]',
 '325 is played by [5]',
 '326 is played by [6]',
 '327 is played by [7]',
 '328 is played by [8]',
 '329 is played by [9]',
 '330 is played by [0]',
 '331 is played by [1]',
 '332 is played by [2]',
 '333 is played by [3]',
 '334 is played by [4]',
 '335 is played by [5]',
 '336 is played by [6]',
 '337 is played by [7]',
 '338 is played by [8]',
 '339 is played by [9]',
 '340 is played by [0]',
 '341 is played by [1]',
 '342 is played by [2]',
 '343 is played by [3]',
 '344 is played by [4]',
 '345 is played by [5]',
 '346 is played by [6]',
 '347 is played by [7]',
 '348 is played by [8]',
 '349 is played by [9]',
 '350 is played by [0]',
 '351 is played by [1]',
 '352 is played by [2]',
 '353 is played by [3]',
 '354 is played by [4]',
 '355 is played by [5]',
 '356 is played by [6]',
 '357 is played by [7]',
 '358 is played by [8]',
 '359 is played by [9]',
 '360 is played by [0]',
 '361 is played by [1]',
 '362 is played by [2]',
 '363 is played by [3]',
 '364 is played by [4]',
 '365 is played by [5]',
 '366 is played by [6]',
 '367 is played by [7]',
 '368 is played by [8]',
 '369 is played by [9]',
 '370 is played by [0]',
 '371 is played by [1]',
 '372 is played by [2]',
 '373 is played by [3]',
 '374 is played by [4]',
 '375 is played by [5]',
 '376 is played by [6]',
 '377 is played by [7]',
 '378 is played by [8]',
 '379 is played by [9]',
 '380 is played by [0]',
 '381 is played by [1]',
 '382 is played by [2]',
 '383 is played by [3]',
 '384 is played by [4]',
 '385 is played by [5]',
 '386 is played by [6]',
 '387 is played by [7]',
 '388 is played by [8]',
 '389 is played by [9]',
 '390 is played by [0]',
 '391 is played by [1]',
 '392 is played by [2]',
 '393 is played by [3]',
 '394 is played by [4]',
 '395 is played by [5]',
 '396 is played by [6]',
 '397 is played by [7]',
 '398 is played by [8]',
 '399 is played by [9]',
 '400 is played by [0]',
 '401 is played by [1]',
 '402 is played by [2]',
 '403 is played by [3]',
 '404 is played by [4]',
 '405 is played by [5]',
 '406 is played by [6]',
 '407 is played by [7]',
 '408 is played by [8]',
 '409 is played by [9]',
 '410 is played by [0]',
 '411 is played by [1]',
 '412 is played by [2]',
 '413 is played by [3]',
 '414 is played by [4]',
 '415 is played by [5]',
 '416 is played by [6]',
 '417 is played by [7]',
 '418 is played by [8]',
 '419 is played by [9]',
 '420 is played by [0]',
 '421 is played by [1]',
 '422 is played by [2]',
 '423 is played by [3]',
 '424 is played by [4]',
 '425 is played by [5]',
 '426 is played by [6]',
 '427 is played by [7]',
 '428 is played by [8]',
 '429 is played by [9]',
 '430 is played by [0]',
 '431 is played by [1]',
 '432 is played by [2]',
 '433 is played by [3]',
 '434 is played by [4]',
 '435 is played by [5]',
 '436 is played by [6]',
 '437 is played by [7]',
 '438 is played by [8]',
 '439 is played by [9]',
 '440 is played by [0]',
 '441 is played by [1]',
 '442 is played by [2]',
 '443 is played by [3]',
 '444 is played by [4]',
 '445 is played by [5]',
 '446 is played by [6]',
 '447 is played by [7]',
 '448 is played by [8]',
 '449 is played by [9]',
 '450 is played by [0]',
 '451 is played by [1]',
 '452 is played by [2]',
 '453 is played by [3]',
 '454 is played by [4]',
 '455 is played by [5]',
 '456 is played by [6]',
 '457 is played by [7]',
 '458 is played by [8]',
 '459 is played by [9]',
 '460 is played by [0]',
 '461 is played by [1]',
 '462 is played by [2]',
 '463 is played by [3]',
 '464 is played by [4]',
 '465 is played by [5]',
 '466 is played by [6]',
 '467 is played by [7]',
 '468 is played by [8]',
 '469 is played by [9]',
 '470 is played by [0]',
 '471 is played by [1]',
 '472 is played by [2]',
 '473 is played by [3]',
 '474 is played by [4]',
 '475 is played by [5]',
 '476 is played by [6]',
 '477 is played by [7]',
 '478 is played by [8]',
 '479 is played by [9]',
 '480 is played by [0]',
 '481 is played by [1]',
 '482 is played by [2]',
 '483 is played by [3]',
 '484 is played by [4]',
 '485 is played by [5]',
 '486 is played by [6]',
 '487 is played by [7]',
 '488 is played by [8]',
 '489 is played by [9]',
 '490 is played by [0]',
 '491 is played by [1]',
 '492 is played by [2]',
 '493 is played by [3]',
 '494 is played by [4]',
 '495 is played by [5]',
 '496 is played by [6]',
 '497 is played by [7]',
 '498 is played by [8]',
 '499 is played by [9]',
 '500 is played by [0]',
 '501 is played by [1]',
 '502 is played by [2]',
 '503 is played by [3]',
 '504 is played by [4]',
 '505 is played by [5]',
 '506 is played by [6]',
 '507 is played by [7]',
 '508 is played by [8]',
 '509 is played by [9]',
 '510 is played by [0]',
 '511 is played by [1]',
 '512 is played by [2]',
 '513 is played by [3]',
 '514 is played by [4]',
 '515 is played by [5]',
 '516 is played by [6]',
 '517 is played by [7]',
 '518 is played by [8]',
 '519 is played by [9]',
 '520 is played by [0]',
 '521 is played by [1]',
 '522 is played by [2]',
 '523 is played by [3]',
 '524 is played by [4]',
 '525 is played by [5]',
 '526 is played by [6]',
 '527 is played by [7]',
 '528 is played by [8]',
 '529 is played by [9]',
 '530 is played by [0]',
 '531 is played by [1]',
 '532 is played by [2]',
 '533 is played by [3]',
 '534 is played by [4]',
 '535 is played by [5]',
 '536 is played by [6]',
 '537 is played by [7]',
 '538 is played by [8]',
 '539 is played by [9]',
 '540 is played by [0]',
 '541 is played by [1]',
 '542 is played by [2]',
 '543 is played by [3]',
 '544 is played by [4]',
 '545 is played by [5]',
 '546 is played by [6]',
 '547 is played by [7]',
 '548 is played by [8]',
 '549 is played by [9]',
 '550 is played by [0]',
 '551 is played by [1]',
 '552 is played by [2]',
 '553 is played by [3]',
 '554 is played by [4]',
 '555 is played by [5]',
 '556 is played by [6]',
 '557 is played by [7]',
 '558 is played by [8]',
 '559 is played by [9]',
 '560 is played by [0]',
 '561 is played by [1]',
 '562 is played by [2]',
 '563 is played by [3]',
 '564 is played by [4]',
 '565 is played by [5]',
 '566 is played by [6]',
 '567 is played by [7]',
 '568 is played by [8]',
 '569 is played by [9]',
 '570 is played by [0]',
 '571 is played by [1]',
 '572 is played by [2]',
 '573 is played by [3]',
 '574 is played by [4]',
 '575 is played by [5]',
 '576 is played by [6]',
 '577 is played by [7]',
 '578 is played by [8]',
 '579 is played by [9]',
 '580 is played by [0]',
 '581 is played by [1]',
 '582 is played by [2]',
 '583 is played by [3]',
 '584 is played by [4]',
 '585 is played by [5]',
 '586 is played by [6]',
 '587 is played by [7]',
 '588 is played by [8]',
 '589 is played by [9]',
 '590 is played by [0]',
 '591 is played by [1]',
 '592 is played by [2]',
 '593 is played by [3]',
 '594 is played by [4]',
 '595 is played by [5]',
 '596 is played by [6]',
 '597 is played by [7]',
 '598 is played by [8]',
 '599 is played by [9]',
 '600 is played by [0]',
 '601 is played by [1]',
 '602 is played by [2]',
 '603 is played by [3]',
 '604 is played by [4]',
 '605 is played by [5]',
 '606 is played by [6]',
 '607 is played by [7]',
 '608 is played by [8]',
 '609 is played by [9]',
 '610 is played by [0]',
 '611 is played by [1]',
 '612 is played by [2]',
 '613 is played by [3]',
 '614 is played by [4]',
 '615 is played by [5]',
 '616 is played by [6]',
 '617 is played by [7]',
 '618 is played by [8]',
 '619 is played by [9]',
 '620 is played by [0]',
 '621 is played by [1]',
 '622 is played by [2]',
 '623 is played by [3]',
 '624 is played by [4]',
 '625 is played by [5]',
 '626 is played by [6]',
 '627 is played by [7]',
 '628 is played by [8]',
 '629 is played by [9]',
 '630 is played by [0]',
 '631 is played by [1]',
 '632 is played by [2]',
 '633 is played by [3]',
 '634 is played by [4]',
 '635 is played by [5]',
 '636 is played by [6]',
 '637 is played by [7]',
 '638 is played by [8]',
 '639 is played by [9]',
 '640 is played by [0]',
 '641 is played by [1]',
 '642 is played by [2]',
 '643 is played by [3]',
 '644 is played by [4]',
 '645 is played by [5]',
 '646 is played by [6]',
 '647 is played by [7]',
 '648 is played by [8]',
 '649 is played by [9]',
 '650 is played by [0]',
 '651 is played by [1]',
 '652 is played by [2]',
 '653 is played by [3]',
 '654 is played by [4]',
 '655 is played by [5]',
 '656 is played by [6]',
 '657 is played by [7]',
 '658 is played by [8]',
 '659 is played by [9]',
 '660 is played by [0]',
 '661 is played by [1]',
 '662 is played by [2]',
 '663 is played by [3]',
 '664 is played by [4]',
 '665 is played by [5]',
 '666 is played by [6]',
 '667 is played by [7]',
 '668 is played by [8]',
 '669 is played by [9]',
 '670 is played by [0]',
 '671 is played by [1]',
 '672 is played by [2]',
 '673 is played by [3]',
 '674 is played by [4]',
 '675 is played by [5]',
 '676 is played by [6]',
 '677 is played by [7]',
 '678 is played by [8]',
 '679 is played by [9]',
 '680 is played by [0]',
 '681 is played by [1]',
 '682 is played by [2]',
 '683 is played by [3]',
 '684 is played by [4]',
 '685 is played by [5]',
 '686 is played by [6]',
 '687 is played by [7]',
 '688 is played by [8]',
 '689 is played by [9]',
 '690 is played by [0]',
 '691 is played by [1]',
 '692 is played by [2]',
 '693 is played by [3]',
 '694 is played by [4]',
 '695 is played by [5]',
 '696 is played by [6]',
 '697 is played by [7]',
 '698 is played by [8]',
 '699 is played by [9]',
 '700 is played by [0]',
 '701 is played by [1]',
 '702 is played by [2]',
 '703 is played by [3]',
 '704 is played by [4]',
 '705 is played by [5]',
 '706 is played by [6]',
 '707 is played by [7]',
 '708 is played by [8]',
 '709 is played by [9]',
 '710 is played by [0]',
 '711 is played by [1]',
 '712 is played by [2]',
 '713 is played by [3]',
 '714 is played by [4]',
 '715 is played by [5]',
 '716 is played by [6]',
 '717 is played by [7]',
 '718 is played by [8]',
 '719 is played by [9]',
 '720 is played by [0]',
 '721 is played by [1]',
 '722 is played by [2]',
 '723 is played by [3]',
 '724 is played by [4]',
 '725 is played by [5]',
 '726 is played by [6]',
 '727 is played by [7]',
 '728 is played by [8]',
 '729 is played by [9]',
 '730 is played by [0]',
 '731 is played by [1]',
 '732 is played by [2]',
 '733 is played by [3]',
 '734 is played by [4]',
 '735 is played by [5]',
 '736 is played by [6]',
 '737 is played by [7]',
 '738 is played by [8]',
 '739 is played by [9]',
 '740 is played by [0]',
 '741 is played by [1]',
 '742 is played by [2]',
 '743 is played by [3]',
 '744 is played by [4]',
 '745 is played by [5]',
 '746 is played by [6]',
 '747 is played by [7]',
 '748 is played by [8]',
 '749 is played by [9]',
 '750 is played by [0]',
 '751 is played by [1]',
 '752 is played by [2]',
 '753 is played by [3]',
 '754 is played by [4]',
 '755 is played by [5]',
 '756 is played by [6]',
 '757 is played by [7]',
 '758 is played by [8]',
 '759 is played by [9]',
 '760 is played by [0]',
 '761 is played by [1]',
 '762 is played by [2]',
 '763 is played by [3]',
 '764 is played by [4]',
 '765 is played by [5]',
 '766 is played by [6]',
 '767 is played by [7]',
 '768 is played by [8]',
 '769 is played by [9]',
 '770 is played by [0]',
 '771 is played by [1]',
 '772 is played by [2]',
 '773 is played by [3]',
 '774 is played by [4]',
 '775 is played by [5]',
 '776 is played by [6]',
 '777 is played by [7]',
 '778 is played by [8]',
 '779 is played by [9]',
 '780 is played by [0]',
 '781 is played by [1]',
 '782 is played by [2]',
 '783 is played by [3]',
 '784 is played by [4]',
 '785 is played by [5]',
 '786 is played by [6]',
 '787 is played by [7]',
 '788 is played by [8]',
 '789 is played by [9]',
 '790 is played by [0]',
 '791 is played by [1]',
 '792 is played by [2]',
 '793 is played by [3]',
 '794 is played by [4]',
 '795 is played by [5]',
 '796 is played by [6]',
 '797 is played by [7]',
 '798 is played by [8]',
 '799 is played by [9]',
 '800 is played by [0]',
 '801 is played by [1]',
 '802 is played by [2]',
 '803 is played by [3]',

In [41]:
[2*k+v for (k,v) in {4:0,3:2, 100:1}.items() ]

[8, 8, 201]

Task 0.5.26: Suppose d is a dictionary that maps some employee IDs (a subset of the
integers from 0 to n − 1) to salaries. <br>
Suppose L is an n-element list whose ith element is
the name of employee number i. Your goal is to write a comprehension whose value is a
dictionary mapping employee names to salaries. You can assume that employee names are
distinct.
Test your comprehension with the following data:
id2salary = {0:1000.0, 3:990, 1:1200.50}
names = ['Larry', 'Curly', '', 'Moe']

In [43]:
id2salary = {0:1000.0, 3:990, 1:1200.50} 
names = ['Larry', 'Curly', '', 'Moe']

In [45]:
{names[k]:v for(k,v) in id2salary.items() }

{'Larry': 1000.0, 'Moe': 990, 'Curly': 1200.5}

Task 0.5.27: Try entering the definition of twice(z). After you enter the definition, you
will see the ellipsis. Just press enter. Next, try invoking the procedure on some actual
arguments. Just for fun, try strings or lists. Finally, verify that the variable z is now not
bound to any value by asking Python to evaluate the expression consisting of z.

In [46]:
def twice(z): return 2*z

In [49]:
twice(("a","b"))

('a', 'b', 'a', 'b')