Slices: A slice of a list is a new list consisting of a consecutive subsequence of elements
of the old list, namely those indexed by a range of integers. The range is specified by a
colon-separated pair i : j consisting of the index i as the first element and j as one past the
index of the last element. Thus mylist[1:3] is the list consisting of elements 1 and 2 of
mylist.
Prefixes: If the first element i of the pair is 0, it can be omitted, so mylist[:2] consists
of the first 2 elements of mylist. This notation is useful for obtaining a prefix of a list.
Suffixes: If the second element j of the pair is the length of the list, it can be omitted, so
mylist[1:] consists of all elements of mylist except element 0.

In [1]:
L = [0,10,20,30,40,50,60,70,80,90]

In [2]:
L[:5]

[0, 10, 20, 30, 40]

In [3]:
L[5:]

[50, 60, 70, 80, 90]

Slices that skip You can use a colon-separated triple a:b:c if you want the slice to include
every cth element. For example, here is how you can extract from L the list consisting of
even-indexed elements and the list consisting of odd-indexed elements:

In [4]:
L[::2]

[0, 20, 40, 60, 80]

Obtaining elements of a list by unpacking

In [5]:
[x,y,z] = [4*1, 4*2, 4*3]

In [6]:
listoflists = [[1,1],[2,4],[3, 9]]
[y for [x,y] in listoflists]

[1, 4, 9]

0.5.6 Tuples
Like a list, a tuple is an ordered sequence of elements. However, tuples are immutable so
they can be elements of sets. The notation for tuples is the same as that for lists except
that ordinary parentheses are used instead of square brackets.

In [7]:
(1,1+1,3)

(1, 2, 3)

In [8]:
{0, (1,2)} | {(3,4,5)}

{(1, 2), (3, 4, 5), 0}

In [9]:
[y for (x,y) in [(1,'A'),(2,'B'),(3,'C')] ]

['A', 'B', 'C']

Task 0.5.14: Suppose S is a set of integers, e.g. {−4,−2, 1, 2, 5, 0}. Write a triple
comprehension whose value is a list of all three-element tuples (i, j, k) such that i, j, k are
elements of S whose sum is zero.

In [11]:
S = {-4,-2, 1, 2, 5, 0}

In [12]:
a= (1,5-3)

In [13]:
sum(a)

3

In [19]:
[(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 ]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

Task 0.5.15: Modify the comprehension of the previous task so that the resulting list does
not include (0, 0, 0). Hint: add a filter.

In [21]:
[(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 and (i, j, k) != (0,0,0)]

[(0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

Task 0.5.16: Further modify the expression so that its value is not the list of all such
tuples but is the first such tuple.

In [22]:
{(i, j, k) for i in S for j in S for k in S if sum((i, j, k)) == 0 and (i, j, k) != (0,0,0)}

{(-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0),
 (0, -2, 2),
 (0, 2, -2),
 (1, -2, 1),
 (1, 1, -2),
 (2, -4, 2),
 (2, -2, 0),
 (2, 0, -2),
 (2, 2, -4)}

Obtaining a list or set from another collection
Python can compute a set from another collection (e.g. a list) using the constructor set(·).
Similarly, the constructor list(·) computes a list, and the constructor tuple(·) computes
a tuple

In [1]:
set([0,1,2,3,4,5,6,7,8,9])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
set([1,2,3])

{1, 2, 3}

In [3]:
list({1,2,3})

[1, 2, 3]

In [4]:
set((1,2,3))

{1, 2, 3}

ranges

In [6]:
sum({i*i for i in range(10)})

285

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 0.5.18: Write a comprehension over a range of the form range(n) such that the
value of the comprehension is the set of odd numbers from 1 to 99.

In [8]:
{i for i in range(99) if i%2==1}

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97}

Zip
Another collection that can be iterated over is a zip. A zip is constructed from other
collections all of the same length. Each element of the zip is a tuple consisting of one
element from each of the input collections.

In [9]:
list(zip([1,3,5],[2,4,6]))

[(1, 2), (3, 4), (5, 6)]

In [10]:
characters = ['Neo', 'Morpheus', 'Trinity']
actors = ['Keanu', 'Laurence', 'Carrie-Anne']

In [11]:
set(zip(characters, actors))

{('Morpheus', 'Laurence'), ('Neo', 'Keanu'), ('Trinity', 'Carrie-Anne')}

In [12]:
[character+' is played by '+actor for (character,actor) in zip(characters,actors)]

['Neo is played by Keanu',
 'Morpheus is played by Laurence',
 'Trinity is played by Carrie-Anne']

Task 0.5.19: Assign to L the list consisting of the first five letters ['A','B','C','D','E'].
Next, use L in an expression whose value is
[(0, ’A’), (1, ’B’), (2, ’C’), (3, ’D’), (4, ’E’)]
Your expression should use a range and a zip, but should not use a comprehension.

In [16]:
L = ['A','B','C','D','E']
L = zip(range(5), L)
list(L)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

Task 0.5.20: Starting from the lists [10, 25, 40] and [1, 15, 20], write a comprehension
whose value is the three-element list in which the first element is the sum of 10
and 1, the second is the sum of 25 and 15, and the third is the sum of 40 and 20. Your
expression should use zip but not list.

In [27]:
[x+y for (x,y) in zip([10, 25, 40], [1, 15, 20])]

[11, 40, 60]

In [28]:
[x*x for x in reversed([4, 5, 10])]

[100, 25, 16]

Dictionaries

In [29]:
{0:'zero', 0:'nothing'}

{0: 'nothing'}

In [30]:
{4:"four", 3:'three'}[4]

'four'

In [31]:
mydict = {'Neo':'Keanu', 'Morpheus':'Laurence',
'Trinity':'Carrie-Anne'}

In [32]:
mydict['Neo']

'Keanu'

In [33]:
mydict['Oracle']

KeyError: 'Oracle'

In [34]:
'Oracle' in mydict

False

In [35]:
mydict['Oracle'] if 'Oracle' in mydict else 'NOT PRESENT'

'NOT PRESENT'

Task 0.5.21: Suppose dlist is a list of dictionaries and k is a key that appears in all the
dictionaries in dlist. Write a comprehension that evaluates to the list whose ith element
is the value corresponding to key k in the ith dictionary in dlist.
Test your comprehension with some data. Here are some example data.
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger',
'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'

In [1]:
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger',
'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'

In [5]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Sean', 'Roger', 'Pierce']

In [4]:
[mydict for mydict in dlist]

[{'James': 'Sean', 'director': 'Terence'},
 {'James': 'Roger', 'director': 'Lewis'},
 {'James': 'Pierce', 'director': 'Roger'}]

In [6]:
dlist = [{'Bilbo':'Ian','Frodo':'Elijah'},
{'Bilbo':'Martin','Thorin':'Richard'}]

In [8]:
k = 'Bilbo'

In [9]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Ian', 'Martin']

In [10]:
k = 'Frodo'

In [11]:
[mydict[k] if k in mydict else 'NOT PRESENT' for mydict in dlist]

['Elijah', 'NOT PRESENT']

You can construct a dictionary using a comprehension.

In [12]:
{ k:v for (k,v) in [(3,2),(4,0),(100,1)] }

{3: 2, 4: 0, 100: 1}

In [13]:
{ (x,y):x*y for x in [1,2,3] for y in [1,2,3] }

{(1, 1): 1,
 (1, 2): 2,
 (1, 3): 3,
 (2, 1): 2,
 (2, 2): 4,
 (2, 3): 6,
 (3, 1): 3,
 (3, 2): 6,
 (3, 3): 9}

Task 0.5.23: Using range, write a comprehension whose value is a dictionary. The keys
should be the integers from 0 to 99 and the value corresponding to a key should be the
square of the key.
The identity function on a set D is the function with the following spec:
• input: an element x of D
• output: x

Task 0.5.24: Assign some set to the variable D, e.g. D ={'red','white','blue'}.
Now write a comprehension that evaluates to a dictionary that represents the identity function
on D.
Task 0.5.25: Using the variables base=10 and digits=set(range(base)), write a dictionary
comprehension that maps each integer between zero and nine hundred ninety nine
to the list of three digits that represents that integer in base 10. That is, the value should be
{0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 0, 2], 3: [0, 0, 3], ...,
10: [0, 1, 0], 11: [0, 1, 1], 12: [0, 1, 2], ...,
999: [9, 9, 9]}
Your expression should work for any base. For example, if you instead assign 2 to base and
assign {0,1} to digits, the value should be
{0: [0, 0, 0], 1: [0, 0, 1], 2: [0, 1, 0], 3: [0, 1, 1],
..., 7: [1, 1, 1]}